@use "variables" as v;
@use "mixins";

.animalbox {
  @include mixins.centerColumn;
  border: 1px solid;
}

.imgContainer {
  height: 20rem;
  width: 90%;
  border: 1px solid;

  &--img {
    width: 100%;
    height: 100%;
  }
}
