@use "variables" as v;
@use "mixins";

.navBarList {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  //border: 1px solid;
  list-style-type: none;
  font-size: v.$fontMeduim;

  li {
    cursor: pointer;
  }
}
